{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(linechart, 'div_chart') }}
    </script>
{% endblock %}

{% block body %}

<div class="main-content">
    <div class="container-fluid">
        <div class="row clearfix">
            <!-- Commandes -->
            <div class="col-md-4 col-xs-12">
                <div class="card" >
                    <div class="card-header">
                        <h3>commande fournisseur</h3>
                    </div>
                    <div class="card-body feeds-widget">
                        <div class="feed-item">
                            <a href="#">
                                <div class="feeds-left text-success">
                                    <i class="far fa-check-circle"></i>
                                </div>
                                <div class="feeds-body">
                                    <h4 class="title">
                                        A valider
                                    </h4>
                                    <big>0</big>
                                </div>
                            </a>
                        </div>
                        <div class="feed-item">
                            <a href="#">
                                <div class="feeds-left text-warning">
                                    <i class="far fa-check-circle"></i>
                                </div>
                                <div class="feeds-body">
                                    <h4 class="title">
                                        A réceptionner
                                    </h4>
                                    <big>0</big>
                                </div>
                            </a>
                        </div>
                        <div class="feed-item">
                            <a href="#">
                                <div class="feeds-left text-warning">
                                    <i class="far fa-check-circle"></i>
                                </div>
                                <div class="feeds-body">
                                    <h4 class="title">
                                        Réception partielle
                                    </h4>
                                    <big>0</big>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- Client -->
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{{ path('provider_index') }}">
                                        <div class="state">
                                            <h6>Fournisseurs</h6>
                                            <h2>{{ providers|length }}</h2>
                                        </div>
                                    </a>
                                    <div class="icon">
                                        <i class="far fa-user"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h3>Informations</h3>
                    </div>
                    <div class="card-block pb-0">
                        <div class="table-responsive">
                            <table class="table table-hover mb-0 without-header">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h3>{{ products|length }}</h3>
                                        </td>
                                        <td>
                                            <p>
                                                <a href="{{ path('product_index') }}">Produits</a>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3>0</h3>
                                        </td>
                                        <td>
                                            <p>
                                                <a href="{{ path('command_provider_index') }}">
                                                    Valeur du stock
                                                </a>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3>{{ categories|length }}</h3></td>
                                        <td>
                                            <p>
                                                <a href="{{ path('category_index') }}">Catégories</a>
                                                <p>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="card" >
                    <div class="card-header">
                        <h3>commande client</h3>
                    </div>
                    <div class="card-body feeds-widget">
                        <div class="feed-item">
                            <a href="#">
                                <div class="f   eeds-left text-success">
                                    <i class="far fa-check-circle"></i>
                                </div>
                                <div class="feeds-body">
                                    <h4 class="title">
                                        A valider
                                    </h4>
                                    <big>0</big>
                                </div>
                            </a>
                        </div>
                        <div class="feed-item">
                            <a href="#">
                                <div class="feeds-left text-warning">
                                    <i class="far fa-check-circle"></i>
                                </div>
                                <div class="feeds-body">
                                    <h4 class="title">
                                        A préparer
                                    </h4>
                                    <big>0</big>
                                </div>
                            </a>
                        </div>
                        <div class="feed-item">
                            <a href="#">
                                <div class="feeds-left text-warning">
                                    <i class="far fa-check-circle"></i>
                                </div>
                                <div class="feeds-body">
                                    <h4 class="title">
                                        Préparation partielle
                                    </h4>
                                    <big>0</big>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- Client -->
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{{ path('client_index') }}">
                                        <div class="state">
                                            <h6>Clients</h6>
                                            <h2>{{ clients|length }}</h2>
                                        </div>
                                    </a>
                                    <div class="icon">
                                        <i class="far fa-user"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Commandes -->
        </div>

        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="widget bg-primary alert-auto">
                    <span class="badge badge-pill badge-danger mb-1">
                        {{ step|length }}
                    </span>
                    <div class="widget-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{{ path('step_index') }}" class="text-white">
                            <div class="state">
                                <h6>Alertes automatiques</h6>
                            </div>
                            </a>
                            <div class="icon">
                                <i class="ik ik-bell"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="widget bg-success">
                    <div class="widget-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{{ path('command_provider_index') }}" class="text-white">
                                <div class="state">
                                    <h6>Achats</h6>
                                    <h2>{{ cmdproviders|length }}</h2>
                                </div>
                            </a>
                            <div class="icon">
                                <i class="ik ik-shopping-cart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="widget bg-warning">
                    <div class="widget-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{{ path('command_client_index') }}" class="text-white">
                                <div class="state">
                                    <h6>Ventes</h6>
                                    <h2>{{ cmdclients|length }}</h2>
                                </div>
                            </a>
                            <div class="icon">
                                <i class="ik ik-shopping-bag"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="widget bg-danger">
                    <div class="widget-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{{ path('location_index') }}" class="text-white">
                                <div class="state">
                                    <h6>Emplacements</h6>
                                    <h2>{{ locations|length }}</h2>
                                </div>
                            </a>
                            <div class="icon">
                                <i class="ik ik-map-pin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="min-height: 422px;">
                    <div class="card-header"><h3>Reporting</h3></div>
                    <div class="card-body">
                       
                    <div id="div_chart"></div>

                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}
