{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block body %}
<div class="main-content">
        <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>FillRate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.name }}</td>
                <td>{{ location.fillRate }}</td>
                <td>
                    <a href="{{ path('location_show', {'id': location.id}) }}">show</a>
                    <a href="{{ path('location_edit', {'id': location.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
