{{ form_start(form) }}
    
    <div class="main-content">
        <div class="container">

          <div class="content-block">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1 class="h2 mt-0">
                            <i class="ik ik-package"></i> Ajouter Produit
                        </h1>
                    </div>
                </div>
                
            </div>
        </div>

          <div class="content">
              <div class="row">
                  <div class="col-sm-8 pl-4">
                      <div class="title">
                          <p class="h5">Code</p>
                      </div>
                      <div class="row code-block">

                          <!--<div class="col-sm input-qrcode">
                             <div class="input-group input-group-lg">
                                  <span class="input-group-prepend">
                                      <label class="input-group-text" id="inputGroup-sizing-lg">
                                          <i class="fas fa-qrcode"></i>
                                      </label>
                                  </span>
                                  <input type="text" class="form-control form-control" placeholder="Code">
                              </div>
                          </div>-->
                          <div class="col-sm">
                              <div class="qrcode text-center">
                                  <div class="placeholder-img">
                                      <!--<img src="../img/placeholder/none-log-border.png">-->
                                      <img src="{{ qr_code_data_uri('yytt654rt', { writer: 'svg', size: 120 }) }}" />
                                      {{ form_widget(form.qrcode) }}
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="form-block pt-50">
                            <div class="col-md-12 col-sm-12">
                              <div class="form-group">
                                {{ form_label(form.label, 'Libélle') }}
                                {{ form_widget(form.label, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Libélle'}}) }}
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                    {{ form_label(form.ref, 'Réference') }}
                          			     {{ form_widget(form.ref, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Réference'}}) }}
                                  </div>
                              </div>
                            </div >
                            <div class="row">
                              <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                    {{ form_label(form.maker, 'Fabricant') }}
                          			    {{ form_widget(form.maker, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Fabricant'}}) }}
                                  </div>
                              </div>
                              <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                     {{ form_label(form.description, 'Description') }}
                          			     {{ form_widget(form.description, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Description'}}) }}
                                  </div>
                              </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 pl-0">
                              {{ form_label(form.ref_maker, 'Référence fabricant') }}
                          	  {{ form_widget(form.ref_maker, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Référence fabricant'}}) }}
                            </div>
                            <div class="form-group col-md-6 col-sm-12 pl-0">
                              {{ form_label(form.danger, 'Dangereux') }}
                            	{{ form_widget(form.danger, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Dangereux'}}) }}
                            </div>

                          <div class="pt-4">
                              <div class="input-group input-group-lg mb-3">
                                
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="category">
                                    CATÉGORIE
                                  </label>
                                </div>
                                {{ form_widget(form.category, {'attr': {'class': 'form-control custom-select'}}) }}
                              </div>
                              
                          </div>

                          <div class="pt-4">
                              <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="tag">FOURNISSEUR</label>
                                </div>
                                {{ form_widget(form.provider, {'attr': {'class': 'form-control custom-select'}}) }}
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="col-sm-4 py-4">

                    <div id='img_container'>
                      <img id="preview" src="{{asset('img/placeholder.png')}}" alt="your image" width="150" />
                    </div> 
                      <div class="input-group"> 
                        <div class="custom-file">
                        {{ form_widget(form.image, {'attr': {'class': 'imgInp custom-file-input' }}) }}
                        <label class="custom-file-label" for="product_image">
                          Télécharger image
                        </label>
                        </div>
                    </div>
                    
                  </div>
              </div>
          </div>

          <div class="section-title pl-4 pt-3">
              <p class="h5">Prix & Caractéristiques</p>
          </div>
          <div class="content section-prix">
              <div class="row">
                  <div class="col-md-4 col-sm-12">
                      <div class="form-group">
                          {{ form_label(form.price, 'Prix') }}
                          {{ form_widget(form.price, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Prix'}}) }}
                      </div>
                      <div class="form-error">
                          {{ form_errors(form.price) }}
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                      {{ form_label(form.unit, 'Devise') }}
                      {{ form_widget(form.unit, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Devise'}}) }}
                  </div>
                  <div class="form-error">
                      {{ form_errors(form.unit) }}
                  </div>
                  <div class="col-md-4 col-sm-12">
                      {{ form_label(form.step, 'Seuil') }}
                      {{ form_widget(form.step, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Seuil'}}) }}
                  </div>
                  <div class="form-error">
                      {{ form_errors(form.step) }}
                  </div>

              </div>
                
                <div class="row">
                  <div class="col-md-4 col-sm-12">
                      <div class="form-group">
                        {{ form_label(form.color, 'Couleur') }}
                        {{ form_widget(form.color, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Couleur'}}) }}
                      </div>
                      <div class="form-error">
                          {{ form_errors(form.color) }}
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                      <div class="form-group">
                        {{ form_label(form.amount, 'Quantité') }}
                        {{ form_widget(form.amount, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Quantité'}}) }}
                      </div>
                      <div class="form-error">
                          {{ form_errors(form.amount) }}
                      </div>

                  </div>
                  <div class="col-md-4 col-sm-12">
                      <div class="form-group">
                        {{ form_label(form.size, 'Taille') }}
                        {{ form_widget(form.size, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Taille'}}) }}
                      </div>
                      <div class="form-error">
                          {{ form_errors(form.size) }}
                      </div>

                  </div>
                </div >
          </div><!-- section-prix -->

          <div class="section-button pr-4 pt-3">
              <div class="float-right my-4">
                <button type="submit" class="btn btn-warning btn-lg">Enregistrer</button>  
              </div>
              
          </div>

        </div>
    </div>

{{ form_end(form) }}
