{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ client.type }}</td>
            </tr>
            <tr>
                <th>Ref</th>
                <td>{{ client.ref }}</td>
            </tr>
            <tr>
                <th>Account_name</th>
                <td>{{ client.accountName }}</td>
            </tr>
            <tr>
                <th>Type_contact</th>
                <td>{{ client.typeContact }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ client.mobile }}</td>
            </tr>
            <tr>
                <th>Fixe</th>
                <td>{{ client.fixe }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ client.fax }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ client.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
