{{ form_start(form) }}
    <div class="content">
        <div class="form-row">
            <div class="form-group col-md-4">
              {{ form_label(form.type, 'Particulier ou entreprise') }}
        	  {{ form_widget(form.type, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Particulier ou entreprise'}}) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_label(form.ref, 'Réference') }}
        		{{ form_widget(form.ref, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Réference'}}) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_label(form.account_name, 'Nom du compte') }}
        		{{ form_widget(form.account_name, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Nom du compte'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
              	{{ form_label(form.type_contact, 'Type de contact') }}
        		{{ form_widget(form.type_contact, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Type de contact'}}) }}
            </div>
        </div>
    </div><!-- content -->
    
    <div class="content">    
        <div class="form-row">
            <div class="form-group col-md-4">
                {{ form_label(form.name, 'Nom') }}
        		{{ form_widget(form.name, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Nom'}}) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_label(form.mobile, 'Mobile') }}
        		{{ form_widget(form.mobile, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Mobile'}}) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_label(form.fixe, 'Fixe') }}
        		{{ form_widget(form.fixe, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Fixe'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                {{ form_label(form.fax, 'Fax') }}
        		{{ form_widget(form.fax, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Fax'}}) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_label(form.email, 'Email') }}
        		{{ form_widget(form.email, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Email'}}) }}
            </div>
        </div>
    </div><!-- content -->
    
    <div class="content border">
        <div id='img_container'>
          <img id="preview" src="{{asset('img/placeholder.png')}}" alt="your image" width="150" />
        </div> 
        <div class="input-group"> 
            <div class="custom-file">
                {{ form_widget(form.image, {'attr': {'class': 'imgInp custom-file-input' }}) }}
                <label class="custom-file-label" for="provider_image">
                  Télécharger image
                </label>
            </div>
        </div>

        <div class="form-group pt-4">
            <button class="btn btn-warning btn-lg">
                {{ button_label|default('Enregistrer') }}
            </button>
        </div>
    </div><!-- content -->
{{ form_end(form) }}
