{% extends 'base.html.twig' %}

{% block title %}Liste fournisseurs{% endblock %}

{% block body %}

    <div class="main-content">
        <div class="container">

            <div class="content-block">
                <div class="row">
                    <div class="col-md-8">
                        <div class="title">
                            <h1 class="h2 mt-0">
                                <i class="ik ik-package"></i> Liste fournisseurs
                            </h1>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Recherche" required="">
                                <i class="ik ik-user"></i>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- content-block -->

            <div class="dashed-block my-4">
                <div class="row">
                    <div class="col-md-8">
                        <div class="title">
                            <h2 class="text-muted">Créez votre premier fournisseur</h2>
                        </div>
                    </div>
                    <div class="col-md-4 text-right">
                        <a href="{{ path('provider_new') }}" class="btn btn-warning btn-lg">
                            Démarrer
                        </a>
                    </div>
                </div>
            </div><!-- content -->

            <div class="table-block my-5">
                <div class="col-md-12">
                    <div class="card table-card">
                        <div class="card-header">
                            <h3>Fournisseur</h3>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="ik ik-chevron-left action-toggle"></i></li>
                                    <li><i class="ik ik-minus minimize-card"></i></li>
                                    <li><i class="ik ik-x close-card"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>image</th>
                                            <th>Référence</th>
                                            <th>type</th>
                                            <th>Nom</th>
                                            <th>Mobile</th>
                                            <th>Email</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for provider in providers %}
                                            <tr>
                                                <td>
                                                    <div class="d-inline-block align-middle">
                                                        {% if provider.image %}
                                                          <img src="{{ asset('uploads/providers/'~ provider.image) }}" alt="user image" class="rounded-circle img-40 align-top mr-15">
                                                        {% else %}
                                                            <img src="{{asset('img/user_placeholder.jpg')}}" class="rounded-circle img-40 align-top mr-15">
                                                        {% endif %}
                                                        
                                                    </div>
                                                </td>
                                                <td>{{ provider.ref }}</td>
                                                <td>{{ provider.type }}</td>
                                                <td>{{ provider.name }}</td>
                                                <td>{{ provider.mobile }}</td>
                                                <td>{{ provider.email }}</td>
                                                <td>
                                                    <a href="#edit-{{ loop.index }}" data-toggle="modal" data-target="#edit-{{ loop.index }}">
                                                    <i class="ik ik-eye f-16 mr-15 text-green"></i>
                                                    </a>
                                                    <a href="{{ path('provider_edit', {'id': provider.id}) }}">
                                                        <i class="ik ik-edit f-16 text-green"></i>
                                                    </a>
                                                </td>

                    <!-- Modal -->
                    <div class="modal fade edit-layout-modal" id="edit-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="editLayoutItemLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editLayoutItemLabel">
                                        {{ provider.name }}
                                    
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <p class="lead">
                                        {{ provider.ref }} - {{ provider.createdAt ? provider.createdAt|date('Y-m-d') : '' }}
                                    </p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {% if provider.image %}
                                                <img src="{{ asset('uploads/providers/'~ provider.image) }}" class="img-fluid" alt="">
                                            {% else %}
                                                <img src="{{ asset('img/user_placeholder.jpg/') }}" class="img-fluid" alt="">        
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12">
                                        <div class="card latest-update-card">
                                            <div class="card-header">
                                                <h3>Réferance : {{ provider.ref }} </h3>
                                                
                                            </div>
                                            <div class="card-block">
                                                <div class="scroll-widget">
                                                    <div class="latest-update-box">
                                                        <div class="row pt-20 pb-30">
                                                            <div class="col-auto text-right update-meta pr-0">
                                                                <i class="b-primary update-icon ring"></i>
                                                            </div>
                                                            <div class="col pl-5">
                                                                <h6>Nom de compte</h6>
                                                                <p class="text-muted mb-0">{{ provider.accountName }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row pb-30">
                                                            <div class="col-auto text-right update-meta pr-0">
                                                                <i class="b-primary update-icon ring"></i>
                                                            </div>
                                                            <div class="col pl-5">
                                                                <h6>type de contact</h6>
                                                                <p class="text-muted mb-0">{{ provider.typeContact }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row pb-30">
                                                            <div class="col-auto text-right update-meta pr-0">
                                                                <i class="b-success update-icon ring"></i>
                                                            </div>
                                                            <div class="col pl-5">
                                                                <h6>Mobile</h6>
                                                                <p class="text-muted mb-0">
                                                                    {{ provider.mobile }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row pb-30">
                                                            <div class="col-auto text-right update-meta pr-0">
                                                                <i class="b-success update-icon ring"></i>
                                                            </div>
                                                            <div class="col pl-5">
                                                                <h6>Fix</h6>
                                                                <p class="text-muted mb-0">
                                                                    {{ provider.fixe }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row pb-30">
                                                            <div class="col-auto text-right update-meta pr-0">
                                                                <i class="b-success update-icon ring"></i>
                                                            </div>
                                                            <div class="col pl-5">
                                                                <h6>Email</h6>
                                                                <p class="text-muted mb-0">
                                                                    {{ provider.email }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                    {{ include('provider/_delete_form.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Modal -->
                                            </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="12" align="center">Aucun fournisseur</td>
                                                </tr>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- table-block -->

        </div>
    </div>

{% endblock %}
