{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <h1>Clients</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ client.location }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ client.type }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ client.priority }}</td>
            </tr>
            <tr>
                <th>No_command</th>
                <td>{{ client.noCommand }}</td>
            </tr>
            <tr>
                <th>Type_delivery</th>
                <td>{{ client.typeDelivery }}</td>
            </tr>
            <tr>
                <th>Mode_pay</th>
                <td>{{ client.modePay }}</td>
            </tr>
            <tr>
                <th>Qrcode</th>
                <td>{{ client.qrcode }}</td>
            </tr>
            <tr>
                <th>Percent_pay</th>
                <td>{{ client.percentPay }}</td>
            </tr>
            <tr>
                <th>Nb_pallet</th>
                <td>{{ client.nbPallet }}</td>
            </tr>
            <tr>
                <th>Date_command</th>
                <td>{{ client.dateCommand ? client.dateCommand|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_prepar</th>
                <td>{{ client.datePrepar ? client.datePrepar|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_pay</th>
                <td>{{ client.datePay ? client.datePay|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_submit</th>
                <td>{{ client.dateSubmit ? client.dateSubmit|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Comment_command</th>
                <td>{{ client.commentCommand }}</td>
            </tr>
            <tr>
                <th>Comment_delivery</th>
                <td>{{ client.commentDelivery }}</td>
            </tr>
            <tr>
                <th>Total_weight</th>
                <td>{{ client.totalWeight }}</td>
            </tr>
            <tr>
                <th>Total_amount</th>
                <td>{{ client.totalAmount }}</td>
            </tr>
            <tr>
                <th>Total_price</th>
                <td>{{ client.totalPrice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('clients_index') }}">back to list</a>

    <a href="{{ path('clients_edit', {'id': client.id}) }}">edit</a>

    {{ include('clients/_delete_form.html.twig') }}
{% endblock %}
