{% extends 'authentification.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <h3>Nouveau en SG.</h3>
    <p>Creation d'autre utilisateur !</p>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_widget(form.email, {'attr': { 'class': 'form-control', 'placeholder': 'Email' } }) }}
            <i class="ik ik-user"></i>
            <div class="text-danger">
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_widget(form.username, {'attr': { 'class': 'form-control', 'placeholder': "Nom d'utilisateur" } }) }}
            <i class="ik ik-user"></i>
            <div class="text-danger">
                {{ form_errors(form.username) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_widget(form.password.first, {'attr': { 'class': 'form-control', 'placeholder': 'Mot de passe' } }) }}
            <i class="ik ik-eye-off"></i>
            <div class="text-danger">
                {{ form_errors(form.password.first) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_widget(form.password.second, {'attr': { 'class': 'form-control', 'placeholder': 'Confirme mot de passe' } }) }}
            <i class="ik ik-eye-off"></i>
            <div class="text-danger">
                {{ form_errors(form.password.second) }}
            </div>
        </div>
        
        <div class="sign-btn text-center">
            <button type="submit" class="btn btn-theme">Create Account</button>
        </div>
    {{ form_end(form) }}
    
    {% if not app.user %}
        <div class="register">
            <p>Already have an account? <a href="{{ path('app_login') }}">Se connecter</a></p>
        </div>
    {% endif %}
                

{% endblock %}
